.chat-panel {
  display: flex;
  flex-direction: column;
  height: 100vh; /* or any height that fits your layout */
  overflow: hidden;
}

.top {
  max-height: 100px;
}

.room-heading {
  background: purple;
  flex: 1;
  max-height: 50px;
}

/* ---------------------------------------- */

.middle {
  flex: 1 1 auto; /* Grow and shrink as needed, but take up remaining space */
  overflow-y: auto; /* Scrollable if content exceeds height */
}

.message-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex: 1;
  overflow-y: scroll;
  background: hotpink;
}

/* ---------------------------------------- */

.bottom {
  max-height: 50px;
}
